In [2]:
import pandas as pd 
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df
# Q. 위에서 만든 'new_modudak.csv' 파일을 불러와주세요. 이때 'Unnamed: 0' 컬럼을 index로 지정해주세요.
df = pd.read_csv("new_modudak.csv", index_col="Unnamed: 0")
df

                   메뉴     가격   호수     칼로리  할인율      할인가  원산지
Unnamed: 0
0              황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1              승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2                간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3                마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4                  파닭  14000  11호  1300.0  0.2  11200.0  브라질
5                 닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6            양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new         [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10          [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

### 데이터 삭제

In [3]:
# Q. 다음 df 변수의 데이터에서 'Unnamed: 0' 컬럼을 삭제하고, 
# 가격이 15000이상인 메뉴를 삭제해주세요.
df = pd.read_csv('new_modudak.csv')
df.drop(columns=["Unnamed: 0"], inplace=True)
cond = df["가격"] >= 15_000

df.drop(df[cond].index, axis=0)

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

### 결측치 처리

In [9]:
# Q. 다음 df 변수의 데이터에서 결측치가 칼럼별로 몇 개가 있는지 확인하고,
# 결측치를 '빵꾸'로 채워주세요.
df = pd.read_csv('new_modudak.csv')
print(df.isnull().sum())
df = df.fillna("빵꾸")
df

Unnamed: 0    0
메뉴            0
가격            0
호수            0
칼로리           1
할인율           1
할인가           1
원산지           5
dtype: int64

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0   빵꾸
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0   빵꾸
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0   빵꾸
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0   빵꾸
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호      빵꾸   빵꾸       빵꾸   빵꾸

### 정렬

In [10]:
# Q. 다음 df 변수의 데이터를 높은 칼로리 순으로 정렬해주세요.
df = pd.read_csv('new_modudak.csv')
df.sort_values("칼로리", ascending=False)

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

### 자료형 변환

In [17]:
# Q. 다음 df 변수의 데이터의 '호수' 칼럼 값들의 표준편차를 구하세요.
df = pd.read_csv('new_modudak.csv')
df["호수"] = df["호수"].str.replace("호", "").astype("int")
df["호수"].std()

0.97182531580755

### 데이터 탐색

In [22]:
# Q. 다음 df 변수의 데이터에서 '가격'의 3분위 수(75%)를 구하고,
# '호수'의 종류 수를 구하세요.
df = pd.read_csv('new_modudak.csv')
print(df["가격"].describe()["75%"])
print(df["호수"].nunique())

14000.0
4

### 내장함수

In [23]:
# count
df = pd.read_csv('new_modudak.csv')
df.count()

Unnamed: 0    9
메뉴            9
가격            9
호수            9
칼로리           8
할인율           8
할인가           8
원산지           4
dtype: int64

In [52]:
# 열방향 count
df.count(axis=1)

0    8
1    7
2    7
3    7
4    8
5    8
6    7
7    8
8    4
dtype: int64

In [25]:
# 사이즈
len(df)

9

In [26]:
# shape
df.shape

(9, 8)

In [27]:
# 최댓값
df["가격"].max()

16000

In [28]:
# 최솟값
df["가격"].min()

9900

In [29]:
# 평균
df["가격"].mean()

13433.333333333334

In [32]:
# 중앙값
df["가격"].median()

14000.0

In [33]:
# 합계
df["가격"].sum()

120900

In [34]:
# 표준편차
df["가격"].std()

1764.936259472279

In [35]:
# 분산
df["가격"].var()

3115000.0

In [37]:
# 기초통계
df["가격"].describe()

count        9.000000
mean     13433.333333
std       1764.936259
min       9900.000000
25%      13000.000000
50%      14000.000000
75%      14000.000000
max      16000.000000
Name: 가격, dtype: float64

In [53]:
# 문자 기초통계
df.describe(include="O")

       Unnamed: 0      메뉴   호수  원산지
count           9       9    9    4
unique          9       9    4    2
top             0  황금후라이드  10호  국내산
freq            1       1    4    2

In [38]:
# 사분위수 1/4
df["가격"].quantile(.25)

13000.0

In [39]:
# 사분위수 3/4
df["가격"].quantile(.75)

14000.0

In [40]:
cond = df["가격"].quantile(.25) > df["가격"]
df["가격"][cond]

0    12000
8     9900
Name: 가격, dtype: int64

In [42]:
cond = df["가격"].quantile(.75) < df["가격"]
df["가격"][cond]

5    15000
7    16000
Name: 가격, dtype: int64

In [49]:
# 최빈값
df["원산지"].mode()[0]

'국내산'

In [50]:
# 전치
df.T

,0,1,2,3,4,5,6,7,8
Unnamed: 0,0,1,2,3,4,5,6,new,10
메뉴,황금후라이드,승일양념치킨,간장치킨,마늘치킨,파닭,닭강정,양념반후라이드반,[인기]아이펠치킨,[베스트]풀잎치킨
가격,12000,13000,14000,14000,14000,15000,13000,16000,9900
호수,10호,10호,9호,9호,11호,12호,10호,11호,10호
칼로리,1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,NaN
할인율,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,NaN
할인가,9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,NaN
원산지,국내산,NaN,NaN,NaN,브라질,브라질,NaN,국내산,NaN