### 라이브러리 불러오기

In [3]:
import pandas as pd

### 데이터프레임, 시리즈

In [4]:
# Q. 다음의 시리즈 menu, price를 합쳐서 데이터프레임을 만들어보세요.
menu = pd.Series(['후라이드', '양념치킨', '양반후반'], name="메뉴")
price = pd.Series([12000, 13000, 13000], name='가격')
df = pd.DataFrame({
    "메뉴": menu,
    "가격": price
})
df

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

### 데이터 불러오기, 저장

In [5]:
# Q. csv 파일을 저장한 변수의 type은 무엇일까요? 다음 df 변수의 타입을 확인해보세요.
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False)
df = pd.read_csv('modudak.csv')

print(type(df))

<class 'pandas.core.frame.DataFrame'>

### 데이터 선택하기

In [7]:
# Q. df 변수의 메뉴 중 칼로리가 1300 이하이고 가격도 13000 이하인 메뉴는 무엇인가요?
# 영상에서 배운 데이터 선택 방법을 사용해서 찾아주세요.
cond1 = df["칼로리"] <= 1300
cond2 = df["가격"] <= 13000
df[cond1 & cond2]["메뉴"]

0    후라이드
6    양반후반
Name: 메뉴, dtype: object

### 인덱싱/슬라이싱

In [12]:
# Q. loc 혹은 iloc 을 사용해서 df 변수의 데이터 중 양념치킨과 간장치킨의 데이터를 뽑아주세요.
print(df)
index = df["메뉴"].isin(["양념치킨", "간장치킨"])
df.loc[index]

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

     메뉴     가격   호수   칼로리
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600

### 인덱스 다루기

In [15]:
# Q. df 변수의 데이터에서 '메뉴' 칼럼을 index로 설정하고 간장치킨의 가격을 뽑아주세요.
# loc 혹은 iloc을 활용해주세요.
df = pd.read_csv('modudak.csv')
df = df.set_index(keys="메뉴")
df.loc["간장치킨", "가격"]

14000

In [16]:
# Q8. df 변수 데이터의 index를 다시 reset 해주세요.
df.reset_index()

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

### 행과 열 추가

In [17]:
# Q. df 변수 데이터의 모든 메뉴를 30% 할인된 가격으로 바꿔주세요.
df = pd.read_csv('modudak.csv')
discount_rate = 0.3
df["가격"] = df["가격"] * (1 - discount_rate)
df

     메뉴       가격   호수   칼로리
0  후라이드   8400.0  10호  1000
1  양념치킨   9100.0  10호  1400
2  간장치킨   9800.0   9호  1600
3  마늘치킨   9800.0   9호  1800
4    파닭   9800.0  11호  1300
5   닭강정  10500.0  12호  1500
6  양반후반   9100.0  10호  1300

### 값 변경

In [19]:
# Q. df 변수 데이터에서 '파닭'의 이름을 '에너르기파닭'으로 바꿔주세요.
replaced_menu = df["메뉴"].replace("파닭", "에너르기파닭")
df["메뉴"] = replaced_menu
df

       메뉴       가격   호수   칼로리
0    후라이드   8400.0  10호  1000
1    양념치킨   9100.0  10호  1400
2    간장치킨   9800.0   9호  1600
3    마늘치킨   9800.0   9호  1800
4  에너르기파닭   9800.0  11호  1300
5     닭강정  10500.0  12호  1500
6    양반후반   9100.0  10호  1300